<div class="trainer-card-list">
  {{#each list}}
    <a href="{{url}}" class="trainer-card">
      {{trainer}} ({{snapCount}})
      <img src="{{preview}}" alt="{{trainer}}">
    </a>
  {{else}}
    None!
  {{/each}}
</div>
