<!doctype html>

<html lang="en">

<head>
  <title>Photódex</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="description" content="Photódex: Gotta snap 'em all!'">
  <meta name="author" content="JT Atomico">
  {{#if trainer}}
    <meta property="og:title" content="{{trainer}}'s Photódex" />
    <meta property="og:url" content="http://www.photodex.io/{{trainer}}" />
  {{else}}
    <meta property="og:title" content="Photódex" />
    <meta property="og:url" content="http://www.photodex.io/" />
  {{/if}}
  {{#if preview}}
    <meta property="og:image" content="{{preview}}" />
  {{else}}
    <meta property="og:image" content="http://www.photodex.io/assets/preview.jpg" />
  {{/if}}
  <meta property="og:type" content="website" />
  <meta name="og:description" content="Gotta snap 'em all!'">
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/css/main.css">
</head>

<body class="{{@exphbs.view}}-view">
  <div class="banner">
    <h1><a href="/">Photódex</a></h1>
    {{#if trainer}}<div class="trainer-name">{{trainer}}</div>{{/if}}
    <h2>{{subtitle}}</h2>
  </div>
  <div class="content">
    {{{body}}}
  </div>
  <div class="footer">
    <small>
      Built by trainer <a href="/JTAtomico">JTAtomico</a>
      and powered by <a href="https://www.flickr.com/services/api/" target="_blank">Flickr's API</a>.
      The source code is available on <a href="https://github.com/jamiehumphries/photodex" target="_blank">GitHub</a>.
    </small>
  </div>
</body>

</html>
