<!doctype html>

<html lang="en">

<head>
  <title>Phot贸dex</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="description" content="Phot贸dex: Gotta snap 'em all!">
  <meta name="author" content="JT Atomico">
  {{#if og}}
    <meta property="og:title" content="{{og.title}}" />
    <meta property="og:url" content="{{og.url}}" />
    <meta property="og:image" content="{{og.image}}" />
  {{else}}
    <meta property="og:title" content="Phot贸dex" />
    <meta property="og:url" content="https://www.photodex.io/" />
    <meta property="og:image" content="https://www.photodex.io/assets/preview.jpg" />
  {{/if}}
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Gotta snap 'em all!">
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/css/main.css">
</head>

<body class="{{@exphbs.view}}-view">
  <div class="banner">
    <h1><a href="/">Phot贸dex</a></h1>
    {{#if trainer}}
      <div class="trainer-name">{{trainer}}</div>
    {{/if}}
    <h2>{{subtitle}}</h2>
  </div>
  <div class="content">
    {{{body}}}
  </div>
  <div class="footer">
    <small>
      Built by trainer <a href="/JTAtomico">JTAtomico</a>
      and powered by <a href="https://www.flickr.com/services/api/" target="_blank">Flickr's API</a>.
      The source code is available on
      <a href="https://github.com/jamiehumphries/photodex" target="_blank">GitHub</a>.
    </small>
  </div>
</body>

</html>
