<div id="gallery">
  <img class="gallery-image previous" draggable="false">
  <img class="gallery-image current" draggable="false">
  <img class="gallery-image next" draggable="false">
  <img id="close-button" src="assets/close.png">
</div>

<div class="flickr-link">
  <a href="https://www.flickr.com/photos/{{userId}}/sets/{{photosetId}}" target="_blank">View on Flickr</a>
</div>

{{#each generations}}
  <div class="generation {{toLowerCase region}}">
    <div class="region-title">
      <div class="region-name separator">{{region}}</div>
      <div class="region-line separator"></div>
    </div>
    <div class="entries">
      {{#each entries}}
        <div class="entry {{#if unobtainable}}unobtainable{{/if}}">
          {{#if photos}}
            <a href="#{{number}}">
              {{#with photos.[0]}}
                <img src="{{thumbUrl}}" alt="{{title}}" class="{{orientation}} {{position}}" style="{{thumbCss}}" draggable="false">
              {{/with}}
            </a>
          {{else}}
            {{number}}
          {{/if}}
        </div>
      {{/each}}
      {{#times 20}}
        <div class="entry placeholder"></div>
      {{/times}}
    </div>
  </div>
{{/each}}

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="js/jquery.mobile.custom.min.js"></script>
<script src="js/dex.js"></script>
<script>
  initGallery({{{photoMap}}});
</script>
